@font-face {
    font-family: "Consolas";
    src: url('../fonts/Consolas.ttf');
}

html, body {margin: 0; height: 100%; overflow: hidden}
/* disable mouse text-cursor and text selection */
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
    word-wrap: break-word;

}

.processed {
    margin-top:10px;
    margin-bottom:10px;
    padding-left:20px;
    width:394px;
    height:200px;
    overflow:auto;
    background:#ededee;
    border-radius:10px;
}

.paste-area {
    margin-top:4px;
    resize: none;
    height:34px;
    width:335px;
    color:white;
    font-family: Consolas;
    font-size:10px;
    background:#1C1C1C;
    border-right-style: none;
}
